[submodule "external/u-boot-pine64"]
	path = external/u-boot-pine64
	url = git://github.com/wca/u-boot-pine64.git
	branch = pine64-hacks
[submodule "external/arm-trusted-firmware-pine64"]
	path = external/arm-trusted-firmware-pine64
	url = git://github.com/apritzel/arm-trusted-firmware
	branch = allwinner
[submodule "external/sunxi-pack-tools"]
	path = external/sunxi-pack-tools
	url = git://github.com/wca/sunxi-pack-tools
[submodule "external/longsleep-build-pine64-image"]
	path = external/longsleep-build-pine64-image
	url = git://github.com/wca/build-pine64-image
